# --- SECURE BY DEFAULT: HIDDEN FILES ---
# Ignore all files and directories starting with a dot (recursive)
.*
.*/

# EXCEPTIONS: Explicitly whitelist essential hidden files and folders
!.gitignore
!.gitkeep
!/.gitattributes
!/.github